/*reglas generales*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');


:root {
  --font-raleway: 'Raleway', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-playfair: 'Playfair Display', serif;

  --bs-blue: #037BC0 !important;
  --bs-green: #8cbc00 !important;
}


*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5;
}

body {
	height: 100%;
  font-family: var(--font-raleway) !important;
  line-height: 2;

}

h1, h2, h3{
  font-family: var(--font-playfair);
}
h1{
  font-size: 3.8rem;
}
h1{
  font-size: 5rem;
}
h2{
  font-size: 3.2rem;
}
h3{
  font-size: 2.4rem;
}

footer{
  display: flex;
  flex-direction: column;
}
footer h3,  ul > li{
  list-style: none;
  text-align: center;
}

.center-heading{
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

.center-heading > span{
  color: var(--bs-blue);
}
.menu{
  color: var(--bs-blue) !important;
}


.hero{
  background-image: url("../assets//principal.jpg");
  height: 30rem;
  background-size: cover;
  background-position: center center;
}

.text-center{
  text-align: center;
}

/*Media Query*/
@media screen and (min-width: 768px){
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-size: 3.2rem;
  }
  .products img{
    height: 45rem;
    object-fit: cover;
    width: 100%;
  }
}


/** Reescribir colores */
.text-primary .heading{
  color: var(--bs-blue) !important;
}
.btn-success{
  background-color: var(--bs-green) !important;
}
.btn-primary {
  background-color: var(--bs-blue) !important;
}

/* No me esta agarrando este important */
.bg-primary{
  background-color: var(--bs-blue) !important;
}


/** Productos */ 




.product-img{
  width: 400px;
  max-width: 100%;
  height: 334px;
  overflow: hidden;
}



